<div class='container section'>
  <h3><%= @entry['title']%></h3>
  <form action='/admin/entries/<%= @entry['id'] %>' method='post'>
    <div class='row'>
      <div class='input-field col s12'>
        <select name='author_id'>
          <% @users.each do |user| %>
            <option value='<%= user['id'] %>'<%= @entry['author_id'] == user['id'] ? ' selected' : ''%>><%= user['nickname'] %></option>
          <% end %>
        </select>
        <label for='author_id'>発表者</label>
      </div>
    </div>
    <div class='row'>
      <div class='col s12'>
        <p>スライド:<%= @entry['slide_available'] == 1 ? 'あり' : 'なし' %> / デモ:<%= @entry['demo_available'] == 1 ? 'あり' : 'なし' %></p>
        <p><%= h(@entry['note']) %></p>
      </div>
    </div>
    <div class='row'>
      <div class='col s12'>
        <label for='order'>発表順(希望: <%= @entry['order_request'] %>)</label>
        <input type='number' name='order' value='<%= @entry['order'] %>' />
      </div>
    </div>
    <div class='row'>
      <div class='col s12'>
        <label for='time'>持ち時間(希望: <%= @entry['time_request'] %>分)</label>
        <input type='number' name='time' value='<%= @entry['time'] %>' />
      </div>
    </div>
    <div class='row'>
      <div class='input-field col s12'>
        <select name='accepted'>
          <option value=1 <%= @entry['accepted'] == 1 ? 'selected' : '' %>>はい</option>
          <option value=0 <%= @entry['accepted'] == 0 ? 'selected' : '' %>>いいえ</option>
        </select>
        <label for='accepted'>採択</label>
      </div>
    </div>
    <button type='submit' class='waves-effect waves-light btn blue'>
      更新
    </button>
  </form>
  <h3>Danger Zone</h3>
  <div class='row'>
    <div class='col s12'>
      <form action='/admin/entries/<%= @entry['id'] %>/destroy' method='post'>
        <button class="btn waves-effect waves-light red" type="submit">Destroy</button>
      </form>
    </div>
  </div>
</div>
