<h1><%= @team['name'] %></h1>

<p><%= @team['description'] %></p>

<% if @team['leader_id'] == current_user['id'] %>
  <p><a href='/teams/<%= @team['id'] %>/edit'>編集</a></p>
<% end %>
<p><a href='/teams/<%= @team['id'] %>/entries/new'>発表の登録</a></p>

<ul>
  <li>代表者: <a href='/users/<%= @team['leader_id'] %>'><%= @team['leader_name'] %></a></li>
</ul>
