<nav class='nav-extended light-blue'>
  <div class='nav-content container'>
    <ul class='tabs tabs-transparent'>
      <li class='tab'><a href='#overview' class='active'>Overview</a></li>
      <li class='tab'><a href='#teams'>Teams</a></li>
      <li class='tab'><a href='#entries'>Entries</a></li>
    </ul>
  </div>
</nav>
<div id='overview'>
  <div class='container section'>
    <div class='row center'>
      <img src='img/cover.png' alt='アイマスハッカソン2017'/>
    </div>
    <div class='row'>
      <div class='col s12 center'>
        残り時間<br />
        <span id='days' style='font-size: 5em;'>00</span>
        <span style='font-size: 3em;'>日</span>
        <span id='time' style='font-size: 5em;'>00:00:00</span>
      </div>
    </div>
  </div>
</div>
<div id='teams'>
  <ul class='collection'>
    <% @teams.each do |team| %>
      <a href="/teams/<%= team['id']%>" class='collection-item blue-text'><%= team['name'] %></a>
    <% end %>
  </ul>
  <div class='fixed-action-btn toolbar'>
    <a href='/teams/new' class='btn-floating btn-large blue waves-effect waves-light'><i class='material-icons'>add</i></a>
  </div>
</div>
<div id='entries'>
  <ul class='collection'>
    <% @entries.each do |entry| %>
      <li class='collection-item'>
        <a href="/teams/<%= entry['team_id']%>"><%= entry['team_name'] %></a>:
        <a href="/entries/<%= entry['id']%>"><%= entry['title'] %></a>
        by <a href="/users/<%= entry['author_id']%>"><%= entry['author_name'] %></a>
      </li>
    <% end %>
  </ul>
</div>

<script type='text/javascript'>
window.onload = function() {
  var days = document.getElementById('days');
  var time = document.getElementById('time');
  var calcRestTime = function(cb) {
    var current = new Date();
    var deadLine = new Date('2017/12/16 17:00:00');
    var diffTime = deadLine.getTime() - current.getTime();
    var days = Math.floor(diffTime / (1000 * 60 * 60 * 24));
    diffTime -= days * (1000 * 60 * 60 * 24);
    var hours = Math.floor(diffTime / (1000 * 60 * 60));
    diffTime -= hours * (1000 * 60 * 60);
    var minutes = Math.floor(diffTime / (1000 * 60));
    diffTime -= minutes * (1000 * 60);
    var seconds = Math.floor(diffTime / (1000));

    cb(days, hours, minutes, seconds);
  };
  var tick = function() {
    calcRestTime(function(day, hour, min, sec) {
      days.innerText = day;
      var paddedHour = hour < 10 ? '0' + hour : hour;
      var paddedMin = min < 10 ? '0' + min : min;
      var paddedSec = sec < 10 ? '0' + sec : sec;

      time.innerText = paddedHour + ':' + paddedMin + ':' + paddedSec;
      setTimeout(tick, 1000);
    });
  };
  tick();
};
</script>
