<p><a href='/teams/<%= @entry['team_id'] %>'>&lt;&lt;&nbsp;<%= @entry['team_name'] %></a></p>

<h1><%= @entry['title'] %></h1>

<p><%= @entry['summary'] %></p>
<p>登録者: <%= @entry['author_name'] %></p>
