<nav class='light-blue'>
  <div class='nav-wrapper container'>
    <div class='col s12'>
      <a href='/' class='breadcrumb'>Top</a>
      <a href='/users/<%= @user['id'] %>' class='breadcrumb'><%= @user['nickname'] %></a>
    </div>
  </div>
</nav>
<div class='container'>
  <ul>
    <li><%= @user['nickname'] %></li>
    <li>所属しているチーム
      <ul>
        <% @user_teams.each do |team| %>
          <li>
            <a href='/teams/<%= team['id']%>'><%= team['name'] %></a>
            <% if team['role'] == 'leader' %>
              (代表者)
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>
